data/*
dist/*

.env
docs/_build/*
**/__pycache__/*

# these libraries are pulled from the potree library
frontend-html/potree/*
frontend-html/shaders/*
frontend-html/libs/*

# in case you're storing data directly (without the symlink)
frontend-html/data/*

# just for testing
frontend-react/*
frontend-html/static